<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="PharmacyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Учеба\3_курс\6_Семестр\Практика\Уч_Практика_1\Prakt_echebn_1\Pharmacy_kiosk\Pharmacy_kiosk\bin\Debug\PharmacyDB.mdf;Integrated Security=True"/>
	</connectionStrings>
	
</configuration>

